.hero{
    height: 300px;
    /* width: 100vw; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #121212;
}
.content{
    color: #FFFFFF;
}
.image{
    height: 190px;
}