.hero{
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #121212;
}
.content{
    color: #FFFFFF;
    font-family: "Popins";
}
.image{
    height: 190px;
}
