.navbar{
    background-color: #34C94B;
    width: 100vw;
    height: 74px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#button{
    font-family: "Poppins";
    background-color:#121212;
    color: #34C94B;
    
}
#button:hover{
    background-color:#1F1F21;
}

.navbar img {
  height: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 30px;
}